.sliceTweeter{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -64px -64px;}
.slice02_02{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -64px -0px;}
.sliceFacebook{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -0px -256px;}
.slice04_04{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -0px -192px;}
.slice05_05{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -0px -128px;}
.slicePinterest{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -0px -64px;}
.slice07_07{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -0px -0px;}
.slice08_08{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -64px -192px;}
.slice09_09{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -192px -64px;}
.slice10_10{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -192px -0px;}
.slice11_11{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -128px -256px;}
.slice12_12{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -128px -192px;}
.slice13_13{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -128px -128px;}
.slice14_14{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -128px -64px;}
.slice15_15{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -128px -0px;}
.slice16_16{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -64px -256px;}
.slice17_17{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -192px -128px;}
.slice18_18{top:0px;left:0px;
width:64px;height:64px;background: url("img/sprites.png") no-repeat -64px -128px;}
